footer {
    margin-bottom: 10px;
}

#input-ip {
    border: none;
    padding: 4px;
}

#refresh-btn {
    border: none;
    background-color: white;
    padding: 4px;
    font-weight: bold;
}

#error-msg {
    color: rgb(114, 9, 9);
    font-size: 14px;
}

.cold {
    color: rgb(32, 103, 216);
    transition: color .3s;
}

.okay {
    color: rgb(56, 250, 56);
    transition: color .3s;
}

.warm {
    color: rgb(218, 126, 7);
    transition: color .3s;
}

.hot {
    color: rgb(146, 12, 12);
    transition: color .3s;
}
.steady {
    color: rgb(32, 103, 216);
    transition: color .3s;
}

.moving {
    color: rgb(218, 126, 7);
    transition: color .3s;
}

.buzzed {
    color: rgb(255, 140, 0);
    transition: color .3s;
}

.drunk {
    color: rgb(146, 12, 12);
    transition: color .3s;
}